@import "../../assets/styles/variable";

.side {
  min-height: 100vh;

  .logo {
    height: 32px;
    color: $color-background;
    text-align: center;
    font-size: $font-size-large-x;
    margin: 16px;
    overflow: hidden;
  }
}
